language: generic
sudo: required
services:
  - docker

before_install:
  - docker build -t adrewtran/docker-react -f Dockerfile.dev .

scripts:
  - docker run adrewtran/docker-react yarn test -- --coverage